--master_addresses=127.0.0.1:7100
--rpc_bind_addresses=127.0.0.1:7100
--fs_data_dirs={{ data_directory }}
--placement_cloud=local
--placement_region=local
--placement_zone=local
--replication_factor=1
