--tserver_master_addrs=127.0.0.1:7100
--rpc_bind_addresses=127.0.0.1:9100
--start_pgsql_proxy
--pgsql_proxy_bind_address=127.0.0.1:5433
--cql_proxy_bind_address=127.0.0.1:9042
--fs_data_dirs={{ data_directory }}
--placement_cloud=local
--placement_region=local
--placement_zone=local
