# yugabyte user limits

{{ yugabyte_user }}                -       core            unlimited
{{ yugabyte_user }}                -       data            unlimited
{{ yugabyte_user }}                -       fsize           unlimited
{{ yugabyte_user }}                -       sigpending      119934
{{ yugabyte_user }}                -       memlock         64
{{ yugabyte_user }}                -       rss             unlimited
{{ yugabyte_user }}                -       nofile          1048576
{{ yugabyte_user }}                -       msgqueue        819200
{{ yugabyte_user }}                -       stack           8192
{{ yugabyte_user }}                -       cpu             unlimited
{{ yugabyte_user }}                -       nproc           12000
{{ yugabyte_user }}                -       locks           unlimited
