[Unit]
Description=Yugabyte master service
Requires=network-online.target
After=network.target network-online.target multi-user.target

[Service]
User={{ yugabyte_user }}
Group={{ yugabyte_group }}
LimitSIGPENDING=119934
LimitNOFILE=1048576
LimitNPROC=12000
ExecStart={{ yugabyte_location }}/{{ yugabyte_download_url | regex_replace('^.*/','') | regex_replace('-linux.tar.gz$','') }}/bin/yb-master --flagfile /home/{{ yugabyte_user }}/master.conf
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=yes
RestartSec=30s
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=default.target
